<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mCompute</title>
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- STYLES -->
    <link rel="stylesheet" href="../css/themes/default/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="../_assets/css/jqm-demos.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="../css/custom.css">

    <!-- SCRIPTS -->
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script src="../js/highcharts/js/highcharts.js"></script>
    <script src="../js/highcharts/js/modules/exporting.js"></script>
    <script type="text/javascript" src="../js/validations.js"></script>
    <script type="text/javascript" src="../_assets/js/index.js"></script>
    <script type="text/javascript" src="../js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="../js/jssor.slider.mini.js"></script>
    <script type="text/javascript" src="../js/custom.js"></script>
    <script type="text/javascript" src="../js/professorDashboard.js"></script>


    <script type="text/javascript">
         
                var panel11 = '<div data-role="panel" data-display="push" data-theme="b" id="professor-options"><ul data-role="listview"><li data-icon="home"><a href="#professor-dashboard" data-rel="close">Overview</a></li><li data-icon="camera"><a href="#assign-scores">Assign Scores</a></li><li data-icon="edit"><a href="#maximum-points">Maximum Points</a></li><li data-icon="check"><a href="#percentage-distribution">Percentage Distribution</a></li><li data-icon="star"><a href="#grade-range">Grade Range</a></li><li data-icon="check"><a href="#percentage-distribution">Percentage Distribution</a></li><li data-icon="star"><a href="#student-performance-bell-curve">Student Grades Bell Curve</a></li></ul></div>';
        
        
                var panel21 = '<div data-role="panel" data-position="right" data-display="reveal" data-theme="a" id="user-menu"><ul data-role="listview"><li data-icon="home"><a href="#professor-dashboard" data-rel="close">Overview</a></li><li data-icon="user"><a href="#account-settings">Account Settings</a></li><li data-icon="bullets"><a href="#">Notifications</a></li><li data-icon="info"><a href="#">Help</a></li><li data-icon="power"><a href="#">Logout</a></li></ul></div>';
        
                $(document).one('pagebeforecreate', function () {
                    $.mobile.pageContainer.append(panel11);
                    $.mobile.pageContainer.append(panel21);
                    $("#professor-options").panel().enhanceWithin();
                    $("#user-menu").panel().enhanceWithin();
                    
                    $('#wrong-password-message').enhanceWithin().popup();
        
        
                });
                
                
               function validateSubmitForm() {
                    var userMail = document.forms["changePasswordForm"]["userMail"].value;
                    var oldPassword = document.forms["changePasswordForm"]["oldPassword"].value;
                    var newPassword = document.forms["changePasswordForm"]["password"].value;
                    var rePassword = document.forms["changePasswordForm"]["confirmPassword"].value;

                    var dataString = 'name='+ userMail + '&password='+ oldPassword;
                    $.ajax({
                             type: "POST",
                             url: "../../backend/login.php",
                             data: dataString,
                             cache: false,
                             success: function(result){
                                 var result=trim(result);
                                 if(result == "ERROR") {
                                        $("#wrong-password-message").popup( "open" );  
                                 } else {
                                     if(newPassword == rePassword) {
                                         $.post('../../backend/updatePassword.php', {
                                          userMail: userMail,
                                          password: newPassword
                                        },
                                        function(data,status){
                                            if (data == "student") {
                                                 window.location = '../www/views/student-dashboard.html';
                                            } else {
                                                 window.location = '../www/views/professor-dashboard.html';
                                            }
                                        });
                                     }
                                }
                            }
                      });
    
                }
            
                
                 function trim(str){
                      var str=str.replace(/^\s+|\s+$/,'');
                      return str;
                    }


                
    </script>

</head>
<body>

<div data-role="page" class="jqm-demos ui-responsive-panel" id="professor-dashboard" data-title="Professor Dashboard">

    <div data-role="header">
        <h1>Professor Dashboard</h1>
        <a href="#professor-options"  data-icon="bars" data-iconpos="notext" >
            Menu
        </a>
        <a href="#user-menu" data-icon="gear" data-iconpos="notext" >
            Settings
        </a>

    </div><!-- /header -->
    

    <div role="main" style="padding: 0;" class="ui-content jqm-content jqm-fullwidth">
        <div class="card hovercard">
            <div class="cardheader">

            </div>
            <div class="avatar">
                <img alt="" src="http://lorempixel.com/100/100/people/3/">
            </div>
            <div class="info">
                <div class="title">
                    <a target="_blank" href="#">John Doe</a>
                </div>
                <div class="desc"><strong>Professor ID :</strong> 0100XXXXX09</div>
                <div class="desc"><strong>E-Mail ID :</strong> v*******.d******@sjsu.edu</div>
                <div class="desc"><strong>Phone # :</strong> (6**)2**-8***</div>
            </div>
        </div>
            
	</div><!-- /content -->

</div><!-- /page -->




<div data-role="page" class="jqm-demos ui-responsive-panel" id="assign-scores" data-title="Assign Scores">

    <div data-role="header">
        <h1>Assign Scores</h1>
        <a href="#professor-options"  data-icon="bars" data-iconpos="notext" >
            Menu
        </a>
        <a href="#user-menu" data-icon="gear" data-iconpos="notext" >
            Settings
        </a>

    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

        <h1 >Assign Scores</h1>
        <p>Assign scores for each of the below for the students from the select dropdown.</p>
        <hr/>
        <form id="studentScoresForm" name="studentScoresForm" method="post" action="../../backend/assignScore.php">
            <input type="hidden" name="courseId" id="courseId" value="CMPE-235" />
            <div class="ui-field-contain">
                <label for="studentList"><strong>Student ID: </strong></label>
                <select name="studentList" id="studentList" data-mini="true">
                </select>
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="homeworks">Homeworks:</label>
                <input type="range" name="homeworks" id="homeworks" value="250" min="0" max="500" />
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="labs">Labs:</label>
                <input type="range" name="labs" id="labs" value="250" min="0" max="500" />
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="project">Project:</label>
                <input type="range" name="project" id="project" value="100" min="0" max="200" />
            </div>        

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="presentation">Presentation:</label>
                <input type="range" name="presentation" id="presentation" value="50" min="0" max="100" />
            </div>


            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="midterm">Midterm:</label>
                <input type="range" name="midterm" id="midterm" value="50" min="0" max="100" />
            </div>
            
            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="final">Final:</label>
                <input type="range" name="final" id="final" value="50" min="0" max="100" />
            </div>    

            <input type="submit" value="Save" />
    
        
        </form>

    </div>

</div>






<div data-role="page" class="jqm-demos ui-responsive-panel" id="maximum-points" data-title="Maximum Points">

    <div data-role="header">
        <h1>Maximum Points</h1>
        <a href="#professor-options"  data-icon="bars" data-iconpos="notext" >
            Menu
        </a>
        <a href="#user-menu" data-icon="gear" data-iconpos="notext" >
            Settings
        </a>

    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

        <h1  >Maximum Points Configuration</h1>
        <p>Configure the maximum points of each of the below factors.</p>
        <hr/>
        
        <form id="maximumPointsForm" method="post" action="../../backend/maxScore.php">

            <input type="hidden" name="courseId" id="courseId" value="CMPE-235" />

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                 <label for="number">Homeworks:</label>
                 <input type="number" name="homeworks" id="homeworks" value="" min="0" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
            </div>
            
            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="labs">Labs:</label>
                <input type="number" name="labs" id="labs" value="" min="0" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="project">Project:</label>
                <input type="number" name="project" id="project" value="" min="0" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="presentation">Presentation:</label>
                <input type="number" name="presentation" id="presentation" value=""  min="0" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="midterm">Midterm:</label>
                <input type="number" name="midterm" id="midterm" value=""  min="0" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
            </div>
            
            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="final">Final:</label>
                <input type="number" name="final" id="final" value=""  min="0" class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c">
            </div>
        
            <input type="submit" value="Save" />
        
        </form>


    </div>

</div>




<div data-role="page" class="jqm-demos ui-responsive-panel" id="percentage-distribution" data-title="Percentage Distribution">

    <div data-role="header">
        <h1>Percentage Distribution</h1>
        <a href="#professor-options"  data-icon="bars" data-iconpos="notext" >
            Menu
        </a>
        <a href="#user-menu" data-icon="gear" data-iconpos="notext" >
            Settings
        </a>

    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

        <h1 >Percentage Distribution Configuration</h1>
        <p>Configure the weightage of each of the below in determining the final grades of the student.</p>
        <hr/>
        <form id="percentageDistributionForm" method="post" action="../../backend/percentDist.php">
            <input type="hidden" name="courseId" id="courseId" value="CMPE-235" />


            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="homeworks">Homeworks:</label>
                <input type="range" name="homeworks" id="homeworks" value="50" min="0" max="100" />
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="labs">Labs:</label>
                <input type="range" name="labs" id="labs"  value="50" min="0" max="100" />
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="project">Project:</label>
                <input type="range" name="project" id="project"  value="50" min="0" max="100"  />
            </div>        

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="presentation">Presentation:</label>
                <input type="range" name="presentation" id="presentation" value="50" min="0" max="100" />
            </div>


            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="midterm">Midterm:</label>
                <input type="range" name="midterm" id="midterm" value="50" min="0" max="100" />
            </div>
            
            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <label for="final">Final:</label>
                <input type="range" name="final" id="final" value="50" min="0" max="100" />
            </div>    

            <input type="submit" value="Save" />
    
        
        </form>
        


    </div>

</div>





<div data-role="page" class="jqm-demos ui-responsive-panel" id="grade-range" data-title="Grade Range">

    <div data-role="header">
        <h1>Grade Range</h1>
        <a href="#professor-options"  data-icon="bars" data-iconpos="notext" >
            Menu
        </a>
        <a href="#user-menu" data-icon="gear" data-iconpos="notext" >
            Settings
        </a>

    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

        <h1 >Grade Range Configuration</h1>
        <hr/>
        

        <form id="gradeRangeForm" method="post" action="../../backend/gradeRange.php" onsubmit="return validateGradeRanges()">
            <input type="hidden" name="courseId" id="courseId" value="CMPE-235" />

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <div id="ASlider" data-role="rangeslider" data-track-theme="b" data-theme="a">
                  <label for="aStart">A:</label>
                  <input name="aStart" id="aStart" min="0" max="100" value="0" type="range" />
                  <label for="aEnd">A:</label>
                  <input name="aEnd" id="aEnd" min="0" max="100" value="100" type="range" />
                </div>
            </div>

           <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <div id="BSlider"   data-role="rangeslider" data-track-theme="b" data-theme="a">
                  <label for="bStart">B:</label>
                  <input name="bStart" id="bStart" min="0" max="100" value="0" type="range" />
                  <label for="bEnd">B:</label>
                  <input name="bEnd" id="bEnd" min="0" max="100" value="100" type="range" />
                </div>
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <div id="CSlider"  data-role="rangeslider" data-track-theme="b" data-theme="a">
                  <label for="cStart">C:</label>
                  <input name="cStart" id="cStart" min="0" max="100" value="0" type="range" />
                  <label for="cEnd">C:</label>
                  <input name="cEnd" id="cEnd" min="0" max="100" value="100" type="range" />
                </div>
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <div id="DSlider"  data-role="rangeslider" data-track-theme="b" data-theme="a">
                  <label for="dStart">D:</label>
                  <input name="dStart" id="dStart" min="0" max="100" value="0" type="range" />
                  <label for="dEnd">D:</label>
                  <input name="dEnd" id="dEnd" min="0" max="100" value="100" type="range" />
                </div>
            </div>

            <div data-role="fieldcontain" class="ui-field-contain ui-body ui-br">
                <div id="FSlider"  data-role="rangeslider" data-track-theme="b" data-theme="a">
                  <label for="fStart">F:</label>
                  <input name="fStart" id="fStart" min="0" max="100" value="0" type="range" />
                  <label for="fEnd">F:</label>
                  <input name="fEnd" id="fEnd" min="0" max="100" value="100" type="range" />
                </div>
            </div>

            <input type="submit" value="Save" />
    
        </form>        


    </div>

</div>


<div data-role="page" class="jqm-demos ui-responsive-panel" id="student-performance-bell-curve" data-title="Student Performance Bell Curve">

    <div data-role="header">
        <h1>Student Performance Bell Curve</h1>
        <a href="#professor-options"  data-icon="bars" data-iconpos="notext" >
            Menu
        </a>
        <a href="#user-menu" data-icon="gear" data-iconpos="notext" >
            Settings
        </a>

    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

        <h1 >Student Performance Bell Curve</h1>

        <div id="studentPerformanceBellCurve" style="min-width: 310px; height: 400px;"></div>
    </div>
    
</div>





<div data-role="page" class="jqm-demos ui-responsive-panel" id="account-settings" data-title="Account Settings">

    <div data-role="header">
        <h1>Account Settings</h1>
        <a href="#professor-options"  data-icon="bars" data-iconpos="notext" >
            Menu
        </a>
        <a href="#user-menu" data-icon="gear" data-iconpos="notext" >
            Settings
        </a>

    </div><!-- /header -->

    <div role="main" class="ui-content jqm-content jqm-fullwidth">

        <h1 >Account Settings</h1>
        <hr/>
        
        <form id="changePasswordForm" method="post" action="../../backend/updatePassword.php" onsubmit="return validateSubmitForm()">
            <input type="hidden" id="userMail" name="userMail" value="vishwa.desai@sjsu.edu" />
            <table class="form-layout">
                <tr>
                     <td colspan="2" class="form-text-layout">
                        Old Password :
                        <input type="password" class="stored form-text" name="oldPassword" id="oldPassword" placeholder="Old Password" required/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="form-text-layout">
                        New Password :
                        <input type="password" class="stored form-text" name="password" id="password" placeholder="New Password" required/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="form-text-layout">
                        Confirm Password :
                        <input type="password" class="stored form-text" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="form-text-layout">
                        <input type="submit" id="submit" value="Save" />
                    </td>
                </tr>
            </table>
        </form>
        
    </div>
    
</div>


<div data-role="popup" id="wrong-password-message" data-dismissible="false" data-theme="a" style="max-width:400px;">
    <div role="main" class="ui-content">
        <h3 class="mc-text-danger">Incorrect Password</h3>
        <p>Please enter the correct password</p>
        <div class="mc-text-center"><a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b mc-top-margin-1-5">Close</a></div>
    </div>
</div>


</body>
</html>
